*~
*.o
*.a
*.moc
*#
moc_*
*.dylib
doc/html
.DS_Store
Makefile
TAGS
.qmake.cache
imports
include
lib
module-paths
*.pro.user
src/core/qtaddonprocessmanagerversion.h
src/declarative/qtaddonprocessmanagerdeclarativeversion.h
Makefile.Debug
Makefile.Release
examples/plugin/lib*
